<meta charset="UTF-8">
<title>Weather App</title>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/skeleton.css">

<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="/js/script.js"></script>
<script src="/js/moment.js"></script>
