<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/header %>
</head>

<body>
<div class="wrapper">
  <div class="container">
    <div class="eleven columns">
      <header>
        <nav>
          <ul>
            <% if (user) {%>
              <li>Welcome <%= user.email %></li>
            <% } %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/new">Sign Up</a></li>
          </ul>
        </nav>
      </header>

      <h1>Weather App</h1>
      <div id="weather-date">
      </div>

      <form>
        <label>Enter your location</label>
        <input type="text" placeholder="enter a location" name="address" id="address">

        <input type="button" id="submit-btn" value="submit">
      </form>

      <div id="weather-info"></div>

      <div id="weather-chart"></div>
    </div>
  </div>
</div>


</body>
</html>
