<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ./partials/header %>

</head>

<body>
  <div class="container">
    <div class="nine columns">
      <h1>Here is the Weather for</h1>
        <div class="forecast">
          <p><%= timezone %></p>
          <p><%= humidity %></p>
          <p><%= windSpeed %></p>
        </div>
    </div>
  </div>



</body>
</html>
