<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <div class="wrapper">
    <div class="container">
        <h1>User Login</h1>

        <form action="/users/login" method="post">
          <div>
            <label for="email">email</label>
            <input type="text" name="email">
          </div>

          <div>
            <label for="password">password</label>
            <input type="password" name="password">
          </div>

          <input type="submit" value="Login">
        </form>
      </div>
    </div>

</body>
</html>
